.home {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left-side {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $white-color;
        padding-left: 7rem;
    }

    &__heading {
        text-transform: uppercase;

        h2 {
            font-weight: 900;
            font-size: 3rem;
            line-height: 50%;
        }

        h1 {
            font-weight: 800;
            font-size: 5rem;
        }

        h3 {
            display: inline-block;
            background-color: $yellow-color;
            padding: 0 .7rem;
            font-size: 1.2rem;
            letter-spacing: 2px;
        }

        .button {
            width: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $yellow-color;
            margin-top: 2rem;
            border-radius: 5rem;
            transition: color .2s ease-in-out;

            &:hover a {
                color: $white-color;
            }

            a {
                padding: .4rem;
                font-size: 1.6rem;
                text-decoration: none;
                color: $lighter-black-color;
                font-weight: 600;
            }
        }
    }

    &__right-side {
        background-color: $faded-yellow-color;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 600px;
        }
    }
}